[bumpr]
file = aqi/__init__.py
vcs = git
clean =
    python setup.py clean
    rm -rf *egg-info build dist
tests = python -m unittest discover
publish = python setup.py sdist bdist_wheel register upload
files =
    README.rst
    setup.py
    docs/conf.py

[bump]
unsuffix = True
message = bump version to {version}

[readthedoc]
id = python-aqi
